.register-box{
  width: 35%;
  height: 70%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
top: 50%;
margin-bottom: 2%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
margin-left: 50%;
border-radius: 5%;
}
.edit{
  width: 100px;
 height: 100px;
 border-radius: 50%;
 position: absolute;
 top: 2%;
 left: calc(50% - 50px);
}
form{
  padding: 40px;
  max-width: 90%;
  border-radius: 5px;
  transition: .5s ease;
  margin: auto;
  margin-top: 20%;
  text-align: center;
}
.btn{
  margin-top: 15% !important;

}

