.register-box{
  width: 35%;
  height: 110%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
top: 70%;
margin-bottom: 2%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
margin-left: 50%;
border-radius: 5%;
}
.register-box-entity{
  width: 35%;
  height: 125%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
top: 78%;
margin-bottom: 2%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
margin-left: 50%;
border-radius: 5%;
}
.avatar{
  width: 100px;
 height: 100px;
 border-radius: 50%;
 position: absolute;
 top: 5%;
 left: calc(50% - 50px);
}
form{
  padding: 40px;
  max-width: 90%;
  border-radius: 5px;
  transition: .5s ease;
  margin: auto;
  margin-top: 23%;
}

.btn{
  margin-top: 15% !important;
}
.btnEnt{
  top: 98%;
margin-bottom: 2%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
margin-left: 50%;
border-radius: 5%;
}

